.conditions-black-friday-2021{
	margin-bottom: 60px;
	&__body{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 40px;
	}
	&__item{
		max-width: 42%;
	}
	&__date{
		font-weight: bold;
		font-size: 30px;
		line-height: 39px;
		text-align: center;
		color: #E84C0A;
		margin-bottom: 5px;
		span{
			color: #fff;
			font-size: 20px;
		}
	}
	&__name{
		font-weight: normal;
		font-size: 30px;
		line-height: 39px;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 5px;
	}
	&__discount{
		font-weight: normal;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 12px;
		span{
			position: relative;
			font-size: 30px;
			&:before{
				content: '';
				position: absolute;
				top: -7px;
				left: -5px;
				background-image: url("../img/percent_back.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100%;
				width: 60px;
				height: 55px;
			}


		}
	}
	&__btn{
		margin: 0 auto;
		width: fit-content;
		display: block;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		user-select: none;
		border: 1px solid transparent;
		padding: .563rem 1.4rem;
		font-size: 16px;
		line-height: 21px;
		cursor: pointer;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		text-decoration: none;
		background: #FD7400;
		border-radius: 4px;
		color: #fff;
		font-weight: bold;
		&:focus,
		&:hover {
			text-decoration: none;
			background-color: #fff;
			border: 1px solid #FD7400;
			color: #FD7400;
		}
	}
	@include r(767){
		&__body{
			display: block;
		}
		&__item{
			max-width: 100%;
			text-align: center;
			margin-bottom: 40px;
		}
	}
}